<div class="container">
  <h1 class="title">{{ title }}</h1>
  <nav class="navbar">
    <a routerLink="/group" routerLinkActive="active">Groups</a> |
    <a routerLink="/chat" routerLinkActive="active">Chat</a> |
    <a routerLink="/invites" routerLinkActive="active">Invites</a>
    <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a href="#" *ngIf="isLoggedIn()" (click)="logout()" routerLinkActive="active">Logout</a>
    
  </nav>
  <router-outlet></router-outlet>
</div>
